*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body html{
    width: 100%;
    height: 100%;
    position: relative;
}
.finish{
   height: 80px;
   display: flex;
   justify-content: space-around;
}
.finish img{
    width:40px;
    height: 40px;
}
.icon{
  display: flex;
}
.icon i{
    font-size: 20px;
    width: 100px;
    height: 40px;
    border: 1px solid blue;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}
 i:hover{
     background-color: rgb(67, 67, 252);
 }
.icon p{
    font-size: 15px;
    padding-left: 5px;
}
.icons{
    width: 100px;
    height: 80px;
    font-size: 30px;
    padding-top: 10px;
    text-align: center;
  }
 .icons span{
      font-size: 17px;
      color: gray;
  }
.icons2{
    width: 100px;
    height: 80px;
    font-size: 30px;
    padding-top: 10px;
    text-align: center;
  }
.icons2 span{
    font-size: 17px;
    color: gray;
}
.icons3{
    width: 100px;
    height: 80px;
    font-size: 30px;
    padding-top: 10px;
    text-align: center;
}
.icons3 span{
    font-size: 20px;
    color: gray;
}
.img{
    width: 100px;
    height: 80px;
    padding-top: 10px;
    text-align: center;
}
.img span{
    font-size: 17px;
    color: gray;
}
.img2{
    width: 100px;
    height: 80px;
    padding-top: 10px;
    text-align: center;
}
.img2 span{
    font-size: 20px;
    color: gray;
}
.finish input{
    width: 600px;
    height: 40px;
    border: 1px solid blue;
    margin-top: 20px;
    border-radius: 10px 0px 0px 10px;
    padding-left: 10px;
}
.finish2{
    height: 70px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
 }
.finish2 ul{
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
li{
    list-style: none;
    margin-top: 25px;
    cursor: pointer;
}
li:hover{
    color: blue;
}
.text{
    margin-top: 25px;
}
hr{
    margin-top: 10px;
}
.cantener{
    height:1200px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(229, 243, 238);
    padding-bottom: 250px;
}
.card{
    width: 800px;
    height: 800px; 
}
.card img{
    width: 800px;
    height: 800px;
    border-radius: 15px;
}.card img:hover{
    box-shadow: 5px 5px 10px rgb(129, 129, 248);
}
.start{
    width: 800px;
    height: 800px;
}
.box{
    display: flex;
    justify-content: space-between;
}
.box1{
    width: 380px ;
    height: 380px;
    border-radius: 20px;
    background-color: white;
    position: relative;
}
.box1 img{
    width: 200px ;
    height: 200px;
    border-radius: 15px;
}
.box1 span{
    display: block;
    color: rgb(168, 164, 164);
    text-align: right ;
     font-size: 20px;
     padding-top: 20px;
     padding-right: 5px;
}
.box1 strong{
    display: block;
    padding-top: 20px;
     text-align: right;
     font-size: 20px;
     padding-right: 5px;
     cursor: pointer;
}
.btn{
    width: 150px;
    height: 40px;
    border-radius: 15px;
    background-color: blue;
    color: white;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
    margin-left: 200px;
}
.btn:hover{
    background-color: rgb(88, 88, 228);
}
.box1:hover{
    box-shadow: 5px 5px 15px;
}
.start2{
    display: flex;
    justify-content:space-between;
    margin-top: 40px;
}
.tavar1{
    width: 380px ;
    height: 380px;
    font-size: 20px;
    border-radius: 20px;
    background-color: white;  
    position: relative;
}
.tavar1 img{
    width: 200px ;
    height: 200px;
    border-radius: 15px;
}
.tavar1 span{
    display: block;
    color: gray;
    text-align: right;
    font-size: 20px;
    padding-top: 20px;
    padding-right: 5px;
}
.tavar1 strong{
    display: block;
    text-align: right;
    padding-top: 20px;
    font-size: 20px;
    padding-right: 5px;
    cursor: pointer;
}
.abs{
    position: absolute;
    right: 0;
    display: flex;
    margin-top: 10px;
    cursor: pointer;
}
.abs .tavar111{
    margin-right: 10px;
}
.abs .tavar11{
    margin-right: 10px;
}
.tavar11{
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;
}
.tavar111{
    width: 20px;
    height: 20px;
    background-color:rgb(197, 195, 195);
    border-radius: 50%;
}
.tavar1:hover{
    box-shadow:5px 5px 15px;
}
@media only screen and (max-width: 600px) {
 .finish2 span{
     font-size: 1.25rem;
 }
}
@media only screen and (min-width: 800px) {
 .finish2 span{
  font-size: 1.5rem;
  line-height: 1.5;
 }
}
@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 992px) {

}
@media only screen and (min-width: 1200px) {

}